.navbar{
    overflow: hidden;
    background-color: #b3e5fc !important;
    position: fixed;
    top: 0;
    text-align: right;
    width: 100%;
    font-size: 20px;
}

.navbar-brand{
    color:bold;
}
.nav-item{
    color:black;
}
.fa-1x {
    font-size: 1.5rem;
    }
    /* .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    } */
figure{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('images/fantasy.jpg');
    background-size: cover;
    background-position: center;

}
h2{
    text-align: center;
}


@media screen and (min-width: 768 px){
    figure{
        width: 100%;
        margin-bottom: 25px;
        background-image: url('images/fantasy.jpg');
        background-size: cover;
        background-position: center;

    }
}