*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
}
/* portfolio CSS */
.portfolio-background{
    background-image:url('../images/nightlight.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* contact CSS */
.contact{
    height: 100vh;
    width: 100%;
    background-image:url('../images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* css for the container in the contact section */
.contain{
    height: 70vh;
    width: 90%;
    max-width: 500px;
    margin : 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px gray;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 10px;
}
/* form group css */
.form-group{
    width:100%;
    margin-top:20px;
    font-size: 22px;
}
/* message box height */
.form-group textarea{
    height:20vh;
}
/* cssing in the text area of the form section */
.form-group input,
.form-group textarea{
    width:100%;
    padding: 5px;
    border: 1px solid rgba(0,0,255,0.3);
    font-size: 18px;
    /* space between the input and the label */
    margin-top: 5px;
}
/* message box moves up and down */
textarea{
    resize:vertical;
}

/* label text color for the contact section  */
label{
    color:white;
}

.contact h2{
     color:white;
 }
/* css the sumbit button */
.btn-primary{
    width:100%;
    background-color:lavender;
    color: rgb(27,166,247);
    border:none;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}
/* hover color for the button */
.btn-primary:hover{
    background-color:#67B7D1;
}

 /*Portfolio CSS */
 section h2{
     font-size:50px;
     color:blue;
 }

/* navbar CSS */

.navbar
{
    background-color:lightblue !important;
}
.navbar .navbar-brand{
    color: White;
    font-weight:bold;
    font-size: 20px;
}
.navbar .nav-item a{
    color:white !important;
}
/* move the content to the right */
.navbar-nav{
    margin-left:auto;
}

  
figure{
    height: 800px;
    width: 100%;
    display:block;
    margin-bottom: 25px;
    background-image: url('../images/fantasy.jpg');
    background-size: cover;
    background-position: center;

}
/* CSS for the about pages */
.about{
    background-image:url('../images/masonry.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    text-align: center;
    color:white;
}
h3{
    font-size: 16px;
    text-align: center;
}

/* Portfolio images CSS */
.imgCenter{
 margin-top:20px;
 width: 450px;
 height: 350px;
 padding:10px;
}

p{
 color:blue;
}

footer h3{
    color:black;
    font-weight:bold;
    font-size:18px;
}
/* icon CSS */
.fa-twitter{
color:lightblue;
font-size:20px;
margin-top: 5px;
}

.fa-github{
 color:lightgreen;
 font-size:20px;
 margin-top: 5px;
}
/* @media screen and (min-width: 768 px){
    figure{
        width: 100%;
        margin-bottom: 25px;
        background-image: url('../images/fantasy.jpeg');
        background-size: cover;
        background-position: center;

    }
    
} */